
.contactdetails {
    background-color: #ddd2d2;
   
    margin: auto;
    width: 50%;
    border-radius: 20px;
    text-align: left;
    text-align: justify;
    padding: 50px;
    line-height: 1.7;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.contactdetails a{
    
    color: #000000;
}
    .contactdetails  i {
        padding-right:10px;
    }
    .contactdetails h1 {
        
        font-size: 40px;
        font-weight: 700;
    }
    
