.dashboard
{

	display:flex;
}
.sidebar {
	background-color: #435AD0;
	border-radius: 20px;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #ffffff;
	
	margin: 20px;
	padding: 20px;
	line-height: 2;
	position: fixed;

}
	.sidebar li {
		
		list-style:none;
		
	}
	.sidebar i {
		padding-right: 15px;
		font-size: 0.9em
	}
	.sidebar a{
		color: #ffffff;
		text-decoration: none;
		
	}

.sidebar img {
	width: 180px;
	height: 180px;
	border-radius: 60%;
	padding: 20px 10px 0px 0px;
}
.home {
	background-color: #435AD0;
	display:flex;
	margin: auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #ffffff;
}

	.home h1 {
		color: #ffffff;
		font-size: 40px;
		font-weight: 700;
	}

	
	.home a {
		background-color: #FF5959;
		color: #ffffff;
		text-decoration: none;
		padding: 15px;
		text-align: center;
		font-size: 15px;
		margin: 4px 8px;
		cursor: pointer;
		border-radius: 40px;
	}

		.home a:hover {
			background-color: #4A63E7;
			color: #ffffff;
		}

.aboutme {
	background-color: #ddd2d2;
	margin: 50px auto;
	width: 50%;
	border-radius: 20px;
	padding: 50px;
	text-align: justify;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;

	font-weight:900;
	font-size: 15px;
}
	.aboutme h3 {
		margin-block-start: 0;
		font-size: 25px;
	}

.maindiv {
	margin-top: 10px;
}


.qualification,.skills {
	background-color: #435AD0;
	display: flex;
	margin: 50px auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #ffffff;
}

 

strong {
	font-size: 25px;
}
.favourite, .experience {
	background-color: #ddd2d2;
	display: flex;
	margin: 50px auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

	.favourite a {
		color: #000000;
	}