.introduction {
	background-color: #435AD0;
	display: flex;
	margin: auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #ffffff;
}
	
	.introduction h1 {
		color: #ffffff;
		font-size: 40px;
		font-weight: 700;
	}

	.introduction img {
		
		width: 180px;
		height: 180px;
		border-radius: 60%;
		padding:20px 10px 0px 0px;
	}
	.introduction a {
	
		background-color: #FF5959;
		color: #ffffff;
		text-decoration: none;
		padding: 15px;
		text-align: center;
		font-size: 15px;
		margin: 4px 8px;
		cursor: pointer;
		border-radius:40px;
	}

		.introduction a:hover {
			background-color: #4A63E7;
			color: #ffffff;
			/*text-decoration: none;
			padding: 15px;
			text-align: center;
			font-size: 15px;
			margin: 4px 2px;
			cursor: pointer;
			border-radius: 40px;*/
		}

.aboutme {
	background-color: #ddd2d2;
	margin: 50px auto;
	width: 50%;
	border-radius: 20px;
	padding: 50px;
	text-align: justify;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;

	font-weight:900;
	font-size: 15px;
}
	.aboutme h3 {
		margin-block-start: 0;
		font-size: 25px;
	}

.maindiv {
	margin-top: 10px;
}

.skills {
	background-color: #435AD0;
	display: flex;
	margin: 50px auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.qualification {
	background-color: #435AD0;
	display: flex;
	margin: 50px auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

.experience {
	background-color: #ddd2d2;
	display: flex;
	margin: auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

strong {
	font-size: 25px;
}
.favourite {
	background-color: #ddd2d2;
	display: flex;
	margin: 50px auto;
	width: 50%;
	border-radius: 20px;
	text-align: left;
	text-align: justify;
	padding: 50px;
	line-height: 1.7;
	font-family: "Poppins", Sans-serif;
	font-size: 18px;
	font-weight: 900;
}

	.favourite a {
		color: #000000;
	}